BOT_TOKEN="123:abcfedghijklmn"
BOT_NAME="Tony"
GROUP_CHAT_ID="-1003145216234"
MONGO_DB_URL="mongodb://localhost:27017/afanime"
TRANSLATOR_BLACK_LIST="Up to 21°C"
ADMIN_CHAT_IDS="5762880723"
REAL_SEARCH_URI="https://search.acgn.es"
PROXY_ADDRESS="socks://127.0.0.1:7890"





