services:
  mongodb:
    image: mongo
    restart: always
    volumes:
      - ./data/db:/data/db
    networks:
      - node-network
    ports: 
      - "27017:27017"
    healthcheck:
      test: mongosh --eval "db.adminCommand('ping')" --quiet
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 12345
    
  mongo_seed:
    image: mongo
    restart: no
    depends_on:
      mongodb:
        condition: service_healthy
    volumes:
      - ./mongo-seed:/mongo-seed
    entrypoint: ["bash", "/mongo-seed/seed.sh"] # please refer to https://gist.github.com/flynncao/b0ca9036106d46b03524d7b77d94a79f/
    networks:
      - node-network

  afanime:
    image: flynncao/afanime:latest
    restart: always
    depends_on:  
      mongodb:  
        condition: service_healthy  
      mongo_seed:  
        condition: service_completed_successfully
    environment:
      BOT_TOKEN: '1234455:abcdABCD'
      BOT_NAME: Tony
      GROUP_CHAT_ID: '-1233333'
      MONGO_DB_URL: 'mongodb://root:12345@mongodb:27017/afanime?authSource=admin'
      ADMIN_CHAT_IDS: '5166880313'
      REAL_SEARCH_URI: 'https://open-search.acgn.es'
      REAL_SEARCH_TOKEN: 'abc:zrKMfVYiwgxNawdawaadawdawdaad'
      TRANSLATOR_BLACK_LIST: Up to 21°C
      PROXY_ADDRESS: ''
    networks:
      - node-network
       
networks:
  node-network:
    driver: bridge
